/out
/art
/templates
scripts/set.json
scripts/card.json
scripts/translation.json
cover-all.jsx
scripts/coverup.jsx
scripts/package-lock.json
scripts/Scoots Actions.atn
scripts/custom_card.json
scripts/card.jpg
